/* Variables CSS en français */
:root {
  --couleur-primaire: #94C973;
  --couleur-secondaire: #179AB4;
  --couleur-texte: #202020;
  --couleur-fond: #fff;
  --police-principale: Arial, sans-serif;
}

/* Réinitialisation des marges/paddings et modernisation */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--police-principale);
  line-height: 1.6;
  color: var(--couleur-texte);
}

/* Barre de navigation */
.navigation {
  background-color: var(--couleur-primaire);
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0 10px 40px rgba(158, 240, 255, 0.12);
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow-x: auto;
  position: fixed;
  top: 10px;
  left: 10%;
  right: 10%;
  width: 80%;
}

.nav-item {
  color: var(--couleur-texte);
  padding: 15px;
  margin: 0 6px;
  position: relative;
  white-space: nowrap;
}

.nav-item:before {
  content: "";
  position: absolute;
  bottom: -5px;
  background-color: var(--couleur-secondaire);
  height: 4px;
  width: 100%;
  border-radius: 8px 8px 0 0;
  transition: bottom 0.3s ease;
}

.nav-item:hover:before {
  bottom: 0;
}

.nav-indicateur {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  transition: left 0.4s ease, width 0.4s ease;
  background-color: var(--couleur-secondaire);
  border-radius: 8px 8px 0 0;
}

/* Bouton d'aide */
#aide {
  font-size: 1em;
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 15px;
  background-color: var(--couleur-fond);
  color: #000;
  border: none;
  border-radius: 50px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

#aide:hover {
  background-color: var(--couleur-secondaire);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

/* Section principale avec image de fond */
.heros {
  height: 100vh;
  background: url('https://static.wixstatic.com/media/4b9fef_8c2ec054f445403687bdfdd53f56a2e9~mv2.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texte-centré {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 25px;
  max-width: 90vw;
}

/* Pied de page */
.pied-de-page {
  background-color: var(--couleur-fond);
  color: black;
  text-align: center;
  padding: 40px 20px;
  border-top: 5px solid var(--couleur-primaire);
  border-radius: 20px 20px 0 0;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

.contenu-footer h2 {
  font-size: 1.5rem;
  color: var(--couleur-primaire);
  margin-bottom: 10px;
}

.contenu-footer p {
  font-size: 1rem;
}

/* Media queries pour les petits écrans */
@media (max-width: 768px) {
  .navigation {
      padding: 10px;
      width: 90vw;
      margin: 0 auto;
  }

  .pied-de-page {
      padding: 30px 10px;
  }

  .nav-item {
      padding: 10px;
  }
}