css
/* On fait en sorte que chaque élément contienne sa marge interne avec box-sizing et on retire les traits qui sont par défaut sur les liens */
* {
  box-sizing: border-box;
  text-decoration: none;
}

/* On modernise notre balise de navigation avec une petite ombre. On mets tous les éléments du menu les uns bien à côté des autres avec flexbox (display: flex) */
nav {
  background-color: #fff;
  padding: 0 20px;
  border-radius: 40px;
  box-shadow: 0 10px 40px rgba(159, 162, 177, .8);
  display: flex;
  overflow: hidden;
  overflow-x: auto;
  position: relative;
}

/* On stylise chaque élément */
.nav-item {
  color: #303030;
  font-family: arial, sans-serif;
  padding: 20px;
  margin: 0 6px;
  position: relative;
}

/* Ici on met juste un petit élément avant chaque élément pour le rendre plus beau visuellement */
.nav-item:before {
  content: "";
  position: absolute;
  bottom: -6px;
  background-color: #14c3c3;
  height: 5px;
  width: 100%;
  border-radius: 8px 8px 0 0;
  left: 0;
  transition: .3s;
}

/* Avec les dernières nouveautés de CSS, on peut changer les propriétés des éléments selon des conditions avec not */
.nav-item:not(.is-active):hover:before {
  bottom: 0;
}
.nav-item:not(.is-active):hover {
  color: #333;
}

/* Stylisons notre indicateur */
.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  transition: .4s;
  border-radius: 8px 8px 0 0;
}

a {
  text-decoration: none;
}

.navigateurG {
  display: flex;
  align-items: center;
}

.navigateurD {
  margin-left: auto;
}

.hero {
height: 500px;
background-repeat: no-repeat;
  background-image: url("https://static.wixstatic.com/media/4b9fef_8c2ec054f445403687bdfdd53f56a2e9~mv2.jpg/v1/fill/w_1809,h_760,al_c,q_85,enc_auto/4b9fef_8c2ec054f445403687bdfdd53f56a2e9~mv2.jpg");
}